@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.App {
    text-align: center;
}


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
/* }  */


/* -----Navbar----- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navbar {
    height: 65px;
    background: transparent;
}

.navbar img {
    width: 60px;
    position: absolute;
    top: 2px;
    left: 6%;
}

.navbar ul {
    float: right;
    margin-right: 25px;
}

.navbar ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
    font-family: 'RocknRoll One', sans-serif;
}

.navbar ul li a {
    position: relative;
    color: #000;
    font-size: 18px;
    /*text-transform: uppercase;*/
    padding: 5px 0;
}

.navbar ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.navbar ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #on,
label #off {
    color: #000;
    font-size: 30px;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 1118px) {
    .navbar img {
        left: 8%;
    }
}

@media(max-width: 944px) {
    .navbar img {
        left: 6%;
        top: 2px;
        width: 60px;
    }
    .navbar ul li a {
        font-size: 17px;
    }
}

@media(max-width: 860px) {
    label #on {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #on {
        display: none;
    }
    #check:checked~label #off {
        display: block;
    }
}